<!-- Flash notice because this is the landing page after a headache is added -->
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <% if user_headaches < 2 %>
  <h2>Please log more than one headache to see your graphs.</h2>
  <% else %>

<!-- Charts -->

<!-- This chart is always show on page load -->
  <div class="flexgraphs">
    <div class="children" id="triggerHolder">
      <!-- Flex for dropdown menu and header of all triggers graph -->
      <div class="flexMenuAndTitle">
        <!-- Drop down more menu -->
        <div class="dropdown">
          <%= image_tag('iconMore.png', id: 'moreClick', class: 'moreClick') %>
          <div id="dropdownMenu" class="dropdown-content">
              <span id="instructionsClick" class="dropdownLi">Instructions</span><br>
              <span id="listClick" class="dropdownLi">Edit/Delete Logs</span><br>
              <span id="totalClick" class="dropdownLi">Total Number of Logs</span><br>
          </div>
        </div>
      <div class="header">
        <h2>All Triggers</h2>
      </div>
      <div class="right"></div>
      <!-- End of flex graph for the menu and title -->
    </div>
      <div id="allSymptoms" style="height: 370px"></div>
    </div>
  </div>

<!-- These charts have to be clicked to be shown -->
<div class="children" id="medicineHolder">
  <h2>Medicine</h2>
  <div id="medicineSymptoms" style="height: 370px;"></div>
</div>
<div class="children" id="alcoholHolder">
  <h2>Alcohol</h2>
  <div id="alcoholSymptoms" style="height: 370px;"></div>
</div>
<div class="children" id="chocolateHolder">
  <h2>Chocolate</h2>
  <div id="chocolateSymptoms" style="height: 370px;"></div>
</div>
<div class="children" id="dehydratedHolder">
  <h2>Dehydration</h2>
  <div id="dehydratedSymptoms" style="height: 370px;"></div>
</div>
<div class="children" id="overeatingHolder">
  <h2>Overeating</h2>
  <div id="overeatingSymptoms" style="height: 370px;"></div>
</div>
<div class="children" id="periodHolder">
  <h2>Period</h2>
  <div id="periodSymptoms" style="height: 370px;"></div>
</div>
<div class="children" id="exerciseHolder">
  <h2>Over Exercising</h2>
  <div id="exerciseSymptoms" style="height: 370px;"></div>
</div>
<div class="children" id="eyestrainHolder">
  <h2>Eye Strain</h2>
  <div id="eyestrainSymptoms" style="height: 370px;"></div>
</div>
<div class="children" id="lightsHolder">
  <h2>Bright Lights</h2>
  <div id="lightsSymptoms" style="height: 370px;"></div>
</div>
<div class="children" id="sleepHolder">
  <h2>Lack of Sleep</h2>
  <div id="sleepSymptoms" style="height: 370px;"></div>
</div>
<div class="children" id="stressHolder">
  <h2>Stress</h2>
  <div id="stressSymptoms" style="height: 370px;"></div>
</div>

<% end %>

<!-- This table is hidden unless the user chooses to look at it in the more menu -->
<table class="graphTable">
  <tr>
    <th>Headache Started</th>
    <th>Headache Ended</th>
    <th>Were you on your period?</th>
    <th>Were you dehydrated?</th>
    <th>Had you been exercising?</th>
    <th>Did you have eye strain?</th>
    <th>Were there bright lights near you?</th>
    <th>Had you had too little sleep?</th>
    <th>Were you feeling stressed?</th>
    <th>Had you been overeating?</th>
    <th>Had you been drinking alcohol?</th>
    <th>Had you been eating chocolate?</th>
    <th>Did you take medicine?</th>
    <th>Did the medicine help?</th>
  </tr>
  <tr>
    <% @Logs = Logs.all %>
    <% @Logs.each do |log| %>
    <% if log[:userid] == current_user.id %>
    <td><%= log.date_started %></td>
    <td><%= log.date_ended %></td>
    <td>
      <% if log.period == true %>
        <%= image_tag("yes.png") %>
      <% else %>
        <%= image_tag("no.png") %>
      <% end %></td>
    <td>
      <% if log.dehydration == true %>
        <%= image_tag("yes.png") %>
      <% else %>
        <%= image_tag("no.png") %>
      <% end %></td>
    <td>
      <% if log.exercise == true %>
        <%= image_tag("yes.png") %>
      <% else %>
        <%= image_tag("no.png") %>
      <% end %></td>
    <td>
      <% if log.eye_strain == true %>
        <%= image_tag("yes.png") %>
      <% else %>
        <%= image_tag("no.png") %>
      <% end %></td>
    <td>
      <% if log.lights == true %>
        <%= image_tag("yes.png") %>
      <% else %>
        <%= image_tag("no.png") %>
      <% end %></td>
    <td>
      <% if log.sleep == true %>
        <%= image_tag("yes.png") %>
      <% else %>
        <%= image_tag("no.png") %>
      <% end %></td>
    <td>
      <% if log.stress == true %>
        <%= image_tag("yes.png") %>
      <% else %>
        <%= image_tag("no.png") %>
      <% end %></td>
    <td>
      <% if log.overeating == true %>
        <%= image_tag("yes.png") %>
      <% else %>
        <%= image_tag("no.png") %>
      <% end %></td>
    <td>
      <% if log.alcohol == true %>
        <%= image_tag("yes.png") %>
      <% else %>
        <%= image_tag("no.png") %>
      <% end %></td>
    <td>
      <% if log.chocolate == true %>
        <%= image_tag("yes.png") %>
      <% else %>
        <%= image_tag("no.png") %>
      <% end %></td>
    <td><%= log.medicine %></td>
    <td>
      <% if log.medicine_helped == true %>
        <%= image_tag("yes.png") %>
      <% else %>
        <%= image_tag("no.png") %>
      <% end %></td>
    </tr>
    <% end %>
    <% end %>

</table>

<!-- Modal - hidden unless instructions of total headaches is clicked on -->
<div id="Modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="pInsideModal"></p>
  </div>
</div>

<!-- These spans hold the user's info so it can be accessed by the JS file, they are hidden by CSS -->
<span class="toHide" id="alcohol"><%= user_alcohol %></span>
<span class="toHide" id="overeating"><%= user_overeating %></span>
<span class="toHide" id="stressed"><%= user_stressed %></span>
<span class="toHide" id="sleep"><%= user_sleep %></span>
<span class="toHide" id="lights"><%= user_lights %></span>
<span class="toHide" id="eye_strain"><%= user_eye_strain %></span>
<span class="toHide" id="exercise"><%= user_exercise %></span>
<span class="toHide" id="period"><%= user_period %></span>
<span class="toHide" id="chocolate"><%= user_chocolate %></span>
<span class="toHide" id="dehydrated"><%= user_dehydrated %></span>
<span class="toHide" id="total"><%= user_headaches %></span>
<span class="toHide" id="medicine"><%= user_medicine %></span>
<span class="toHide" id="medicine_helped"><%= user_medicine_helped %></span>
<!-- Include the jQuery plugins -->
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
