<!-- Flash notice because this is the landing page after a headache is added -->
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <% if user_headaches < 2 %>
  <h2>Please log more than one headache to see your graphs.</h2>
  <% else %>

<!-- Charts -->
<!-- Flex for dropdown menu and header of all triggers graph -->
<div class="flexMenuAndTitle">
  <!-- Drop down more menu -->
  <div class="dropdown">
    <%= image_tag('iconMore.png', id: 'moreClick', class: 'moreClick') %>
    <div id="dropdownMenu" class="dropdown-content">
        <span id="instructionsClick" class="dropdownLi">Instructions</span>
        <span id="listClick" class="dropdownLi"><a href="/logs/show">Edit/Delete Logs</a></span>
        <span id="listClick" class="dropdownLi"><%= link_to 'Edit Triggers', edit_log_customization_path(user_triggers.id) %></span>
    </div>
  </div>
<div class="header">
  <h2>Your Graphs</h2>
  <h4>You have logged <%= user_headaches %> headaches so far.</h4>
</div>
  <div class="right"></div>
<!-- End of flex graph for the menu and title -->
</div>

<!-- This chart is always show on page load -->
<div class="flexgraphs">
<div class="children" id="triggerHolder">
  <div id="allSymptoms" style="height: 370px"></div>
</div>
<div class="children" id="clickedDiv">
  <div id="clickedGraph" style="height: 370px;"></div>
</div>
</div>

<% end %>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>This is the graph of all of your triggers. The bars show the frequency with which you have experienced each trigger. If you click on a trigger, you will see the graph for that individual trigger next to this graph.</p>
  </div>

</div>

<!-- These spans hold the user's info so it can be accessed by the JS file, they are hidden by CSS -->
<span class="toHide" id="alcohol"><%= user_alcohol %></span>
<span class="toHide" id="overeating"><%= user_overeating %></span>
<span class="toHide" id="stressed"><%= user_stressed %></span>
<span class="toHide" id="sleep"><%= user_sleep %></span>
<span class="toHide" id="lights"><%= user_lights %></span>
<span class="toHide" id="eye_strain"><%= user_eye_strain %></span>
<span class="toHide" id="exercise"><%= user_exercise %></span>
<span class="toHide" id="period"><%= user_period %></span>
<span class="toHide" id="chocolate"><%= user_chocolate %></span>
<span class="toHide" id="dehydrated"><%= user_dehydrated %></span>
<span class="toHide" id="total"><%= user_headaches %></span>
<span class="toHide" id="medicine"><%= user_medicine %></span>
<span class="toHide" id="medicine_helped"><%= user_medicine_helped %></span>
<span class="toHide" id="custom1"><%= user_custom1 %></span>
<span class="toHide" id="custom2"><%= user_custom2 %></span>
<span class="toHide" id="custom3"><%= user_custom3 %></span>
<span class="toHide" id="custom4"><%= user_custom4 %></span>
<span class="toHide" id="custom5"><%= user_custom5 %></span>
<span class="toHide" id="trigger1Name"><%= user_trigger1 %></span>
<span class="toHide" id="trigger2Name"><%= user_trigger2 %></span>
<span class="toHide" id="trigger3Name"><%= user_trigger3 %></span>
<span class="toHide" id="trigger4Name"><%= user_trigger4 %></span>
<span class="toHide" id="trigger5Name"><%= user_trigger5 %></span>

<!-- Include the jQuery plugins -->
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  var dropdown = document.getElementById("dropdownMenu");

  // Get the button that opens the modal
  var btn = document.getElementById("instructionsClick");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on the button, open the modal
  btn.onclick = function() {
  dropdown.style.display = "none";
  modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
  modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
  }
</script>
