<!-- Begins form -->
<%= form_with(model: user, local: true) do |form| %>
  <!-- Adds errors to the top of the page if they are encountered -->
  <% if user.errors.any? %>
    <div id="error_explanation">
      <% user.errors.full_messages.each do |message| %>
        <h2><%= message %>.</h2>
      <% end %>
    </div>
  <% end %>

<!-- Each div for each piece of information -->
  <div class="flex">
    <div class="label"><%= form.label :email %></div>
    <div><%= form.text_field :email, :required => true  %></div>
  </div>

  <div class="flex">
    <div class="label"><%= form.label :username %></div>
    <div><%= form.text_field :username, :required => true  %></div>
  </div>

  <div class="flex">
    <div class="label"><%= form.label :password %></div>
    <div><%= form.password_field :password, :required => true  %></div>
  </div>

  <div class="flex">
    <div class="label"><%= form.label :password_confirmation %></div>
    <div><%= form.password_field :password_confirmation, :required => true  %></div>
  </div>

  <!-- Submit button -->
  <div class="actions">
    <%= form.submit 'Complete', :class => 'btn' %>
  </div>
<% end %>
