<!-- Show the user their information -->
<h1>Your Account</h1>
<br>

<!-- Flex divs hold everything in the middle and line up the labels and user info -->
<div class="FlexLabels">
  <div class="FlexLabel">Email:
  </div>
  <div class="FlexLabelChild"><%= @user.email %></div>
</div>

<div class="FlexLabels">
  <div class="FlexLabel">Username:
  </div>
  <div class="FlexLabelChild"><%= @user.email %></div>
</div>

<div class="FlexLabels">
  <div class="FlexLabel">Members Since:
  </div>
  <!-- Get the sign up date for the user and parse it to be just the month/day/year -->
  <div class="FlexLabelChild"><%= ActiveSupport::TimeZone["Central Time (US & Canada)"].parse(@user.created_at.to_s).utc.to_date.strftime("%m/%d/%Y") %></div>
</div>

<div class="FlexLabels">
  <div class="FlexLabel">Headaches Logged:
  </div>
  <div class="FlexLabelChild"><%= user_headaches %></div>
</div>

<!-- Link to edit the account -->
<%= link_to 'Edit Your Information', edit_user_path(@user), class: 'Btn' %>
