<%= form_for :logcustomizations, url: logcustomizations_path do |f| %>

<!-- Introduction div -->
<div id="startDiv" class="customDiv">
    <h3>When you have a headace, you can come here to log information about it. You will also be asked a series
        of questions about different triggers. After you've logged
        a few headaches, you will see graphs of these triggers showing how often they appeared before a headache.<br><br>
        Before we log your first headache, let's take the time to look at the list of suggested triggers and make
        sure you want to include all of them. You will also be able to add up to 10 of your own triggers.
    </h3>

<h2>Let's get started!</h2><br>
  <div id="startBtn" class="button">
    <%= image_tag 'start.png', class: 'rotate' %>
  </div>
</div>

<%# :trigger3, :trigger3Name, :trigger4, :trigger4Name, :trigger5, :trigger5Name,
                            :trigger6, :trigger6Name, :trigger7, :trigger7Name, :trigger8, :trigger8Name, :trigger9,
                            :trigger9Name, :trigger10, :trigger10Name,
                            , :, :, :, :, :, : %>

<div id="one" class="logDivs">
  <!-- Flex div to hold the next two divs next to each other -->
  <div class="flex">
    <!-- This div holds the text and question -->
    <div>
      <h2>Do you want to include drinking alcohol as a trigger?</h2>
      <!-- Rails form connected question, required before moving on -->
      <div class="flex">
        <div>
          <%= f.check_box :alcohol, id: 'oneFieldYes', class: 'checkbox' %>
          <label for="oneFieldYes"><%= image_tag 'iconYes.png', id: 'oneNextYes' %></label>
        </div>
        <div>
          <input type="checkbox" id="oneFieldNo" class="checkbox">
          <label for="oneFieldNo"><%= image_tag 'iconNo.png', id: 'oneNextNo'%></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="two" class="logDivs">
  <!-- Flex div to hold the next two divs next to each other -->
  <div class="flex">
    <!-- This div holds the text and question -->
    <div>
      <h2>Do you want to include overeating as a trigger?</h2>
      <!-- Rails form connected question, required before moving on -->
      <div class="flex">
        <div>
          <%= f.check_box :overeating, id: 'twoFieldYes', class: 'checkbox' %>
          <label for="twoFieldYes"><%= image_tag 'iconYes.png', id: 'twoNextYes' %></label>
        </div>
        <div>
          <input type="checkbox" id="twoFieldNo" class="checkbox">
          <label for="twoFieldNo"><%= image_tag 'iconNo.png', id: 'twoNextNo'%></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="three" class="logDivs">
  <!-- Flex div to hold the next two divs next to each other -->
  <div class="flex">
    <!-- This div holds the text and question -->
    <div>
      <h2>Do you want to include stress as a trigger?</h2>
      <!-- Rails form connected question, required before moving on -->
      <div class="flex">
        <div>
          <%= f.check_box :stress, id: 'threeFieldYes', class: 'checkbox' %>
          <label for="threeFieldYes"><%= image_tag 'iconYes.png', id: 'threeNextYes' %></label>
        </div>
        <div>
          <input type="checkbox" id="threeFieldNo" class="checkbox">
          <label for="threeFieldNo"><%= image_tag 'iconNo.png', id: 'threeNextNo'%></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="four" class="logDivs">
  <!-- Flex div to hold the next two divs next to each other -->
  <div class="flex">
    <!-- This div holds the text and question -->
    <div>
      <h2>Do you want to include lack of sleep as a trigger?</h2>
      <!-- Rails form connected question, required before moving on -->
      <div class="flex">
        <div>
          <%= f.check_box :sleep, id: 'fourFieldYes', class: 'checkbox' %>
          <label for="fourFieldYes"><%= image_tag 'iconYes.png', id: 'fourNextYes' %></label>
        </div>
        <div>
          <input type="checkbox" id="fourFieldNo" class="checkbox">
          <label for="fourFieldNo"><%= image_tag 'iconNo.png', id: 'fourNextNo'%></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="five" class="logDivs">
  <!-- Flex div to hold the next two divs next to each other -->
  <div class="flex">
    <!-- This div holds the text and question -->
    <div>
      <h2>Do you want to include bright lights as a trigger?</h2>
      <!-- Rails form connected question, required before moving on -->
      <div class="flex">
        <div>
          <%= f.check_box :lights, id: 'fiveFieldYes', class: 'checkbox' %>
          <label for="fiveFieldYes"><%= image_tag 'iconYes.png', id: 'fiveNextYes' %></label>
        </div>
        <div>
          <input type="checkbox" id="fiveFieldNo" class="checkbox">
          <label for="fiveFieldNo"><%= image_tag 'iconNo.png', id: 'fiveNextNo'%></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="six" class="logDivs">
  <!-- Flex div to hold the next two divs next to each other -->
  <div class="flex">
    <!-- This div holds the text and question -->
    <div>
      <h2>Do you want to include eyestrain as a trigger?</h2>
      <!-- Rails form connected question, required before moving on -->
      <div class="flex">
        <div>
          <%= f.check_box :eye_strain, id: 'sixFieldYes', class: 'checkbox' %>
          <label for="sixFieldYes"><%= image_tag 'iconYes.png', id: 'sixNextYes' %></label>
        </div>
        <div>
          <input type="checkbox" id="sixFieldNo" class="checkbox">
          <label for="sixFieldNo"><%= image_tag 'iconNo.png', id: 'sixNextNo'%></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="seven" class="logDivs">
  <!-- Flex div to hold the next two divs next to each other -->
  <div class="flex">
    <!-- This div holds the text and question -->
    <div>
      <h2>Do you want to include over exercising as a trigger?</h2>
      <!-- Rails form connected question, required before moving on -->
      <div class="flex">
        <div>
          <%= f.check_box :exercise, id: 'sevenFieldYes', class: 'checkbox' %>
          <label for="sevenFieldYes"><%= image_tag 'iconYes.png', id: 'sevenNextYes' %></label>
        </div>
        <div>
          <input type="checkbox" id="sevenFieldNo" class="checkbox">
          <label for="sevenFieldNo"><%= image_tag 'iconNo.png', id: 'sevenNextNo'%></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="eight" class="logDivs">
  <!-- Flex div to hold the next two divs next to each other -->
  <div class="flex">
    <!-- This div holds the text and question -->
    <div>
      <h2>Do you want to include being on your period as a trigger?</h2>
      <!-- Rails form connected question, required before moving on -->
      <div class="flex">
        <div>
          <%= f.check_box :period, id: 'eightFieldYes', class: 'checkbox' %>
          <label for="eightFieldYes"><%= image_tag 'iconYes.png', id: 'eightNextYes' %></label>
        </div>
        <div>
          <input type="checkbox" id="eightFieldNo" class="checkbox">
          <label for="eightFieldNo"><%= image_tag 'iconNo.png', id: 'eightNextNo'%></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="nine" class="logDivs">
  <!-- Flex div to hold the next two divs next to each other -->
  <div class="flex">
    <!-- This div holds the text and question -->
    <div>
      <h2>Do you want to include eating chocolate as a trigger?</h2>
      <!-- Rails form connected question, required before moving on -->
      <div class="flex">
        <div>
          <%= f.check_box :chocolate, id: 'nineFieldYes', class: 'checkbox' %>
          <label for="nineFieldYes"><%= image_tag 'iconYes.png', id: 'nineNextYes' %></label>
        </div>
        <div>
          <input type="checkbox" id="nineFieldNo" class="checkbox">
          <label for="nineFieldNo"><%= image_tag 'iconNo.png', id: 'nineNextNo'%></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="ten" class="logDivs">
  <!-- Flex div to hold the next two divs next to each other -->
  <div class="flex">
    <!-- This div holds the text and question -->
    <div>
      <h2>Do you want to include being dehydrated as a trigger?</h2>
      <!-- Rails form connected question, required before moving on -->
      <div class="flex">
        <div>
          <%= f.check_box :dehydrated, id: 'tenFieldYes', class: 'checkbox' %>
          <label for="tenFieldYes"><%= image_tag 'iconYes.png', id: 'tenNextYes' %></label>
        </div>
        <div>
          <input type="checkbox" id="tenFieldNo" class="checkbox">
          <label for="tenFieldNo"><%= image_tag 'iconNo.png', id: 'tenNextNo'%></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="eleven" class="logDivs">
  <!-- Flex div to hold the next two divs next to each other -->
  <div class="flex">
    <!-- This div holds the text and question -->
    <div>
      <h2>Do you want to log whether you have taken medicine/whether it helped?</h2>
      <!-- Rails form connected question, required before moving on -->
      <div class="flex">
        <div>
          <%= f.check_box :medicine, id: 'elevenFieldYes', class: 'checkbox' %>
          <label for="elevenFieldYes"><%= image_tag 'iconYes.png', id: 'elevenNextYes' %></label>
        </div>
        <div>
          <input type="checkbox" id="elevenFieldNo" class="checkbox">
          <label for="elevenFieldNo"><%= image_tag 'iconNo.png', id: 'elevenNextNo'%></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="twelve" class="logDivs">
  <!-- Flex div to hold the next two divs next to each other -->
  <div class="flex">
    <!-- This div holds the text and question -->
    <div>
      <h2>Would you like to add custom triggers? You can add up to ten.</h2>
      <!-- Rails form connected question, required before moving on -->
      <div class="flex">
        <div>
          <input type="checkbox" id="twelveFieldYes" class="checkbox">
          <label for="twelveFieldYes"><%= image_tag 'iconYes.png', id: 'twelveFieldYes' %></label>
        </div>
        <div>
          <input type="checkbox" id="twelveFieldNo" class="checkbox">
          <label for="twelveNextNo"><%= image_tag 'iconNo.png', id: 'twelveNextNo'%></label>
        </div>
      </div>
    </div>
  </div>
</div>

<%= f.check_box :trigger1 %>
<%= f.text_field :trigger1Name, :required => true  %>

<!-- Main div to hold the question -->
<div id="sixteen" class="logDivs">
  <!-- Flex div to hold the next two divs next to each other -->
  <div class="flex">
    <!-- Left div holds the image -->
    <div class="leftDiv">
    </div>
    <!-- This div holds the text and question -->
    <div>
      <!-- Hidden field sets the userid of the headache to the current logged in user's id -->
      <%= f.hidden_field :userid, :value => current_user.id %>
      <!-- Submit button and end of ERB -->
      <h1>Save this log!</h1>
      <%= f.submit '', :class => 'button_with_image_save' %>
    <% end %>
    </div>
  </div>
  <!-- This div is under the previous two divs, holds the next image and button -->
</div>
