<!-- Page for setting up customizations for the first time -->
<%= form_for :log_customization, url: log_customization_index_path do |f| %>

<!-- Introduction div -->
<div id="StartDiv" class="CustomDiv">
  <h3>When you have a headace, you can come here to log information about it. You will also be asked a series of Questions about different Triggers. After you've logged a few headaches, you will see graphs of these Triggers showing how often they
    appeared before a headache.<br><br>
    Before we log your first headache, let's take the time to look at the list of suggested Triggers and make sure you want to include all of them. You will also be able to add up to 10 of your own Triggers.
  </h3>

  <!-- Start button -->
  <h2>Let's get started!</h2><br>
  <div id="StartBtn" class="Button">
    <%= image_tag 'start.png', class: 'Rotate' %>
  </div>
</div>

<div id="Questions" class="LogDivs">
  <!-- Flex div to hold the next two divs next to each other -->
  <div class="Flex">
    <!-- This div holds the text and Question -->
    <div>
      <h2 id="Question">Do you want to include drinking alcohol as a Trigger?</h2>
      <p id="TriggerTextBoxP">
        <div id="Trigger1NameText"><%= f.text_field :Trigger1Name, class: 'CustomInput' %></div>
        <div id="Trigger2NameText"><%= f.text_field :Trigger2Name, class: 'CustomInput' %></div>
        <div id="Trigger3NameText"><%= f.text_field :Trigger3Name, class: 'CustomInput' %></div>
        <div id="Trigger4NameText"><%= f.text_field :Trigger4Name, class: 'CustomInput' %></div>
        <div id="Trigger5NameText"><%= f.text_field :Trigger5Name, class: 'CustomInput' %></div>
      </p>
      <!-- Rails form connected Question, required before moving on -->
      <div class="Flex">
        <%= image_tag 'iconWait.png', id: 'WaitIcon' %>
        <div id="CheckboxDiv">
          <%= f.check_box :alcohol, id: 'CheckBox1', class: 'Checkbox' %>
          <label for="CheckBox1" class="LogLabel"><%= image_tag 'iconYes.png', id: 'NextYes', class: 'Rotate' %></label>
        </div>

        <!-- These divs are hidden and are shown as the next button is clicked -->
        <div id="HiddenERB2">
          <%= f.check_box :overeating, id: 'CheckBox2', class: 'Checkbox' %>
          <label for='CheckBox2' class="LogLabel"><%= image_tag 'iconYes.png', id: 'NextYes', class: 'Rotate' %></label>
        </div>
        <div id="HiddenERB3">
          <%= f.check_box :stress, id: 'CheckBox3', class: 'Checkbox' %>
          <label for='CheckBox3' class="LogLabel"><%= image_tag 'iconYes.png', id: 'NextYes', class: 'Rotate' %></label>
        </div>
        <div id="HiddenERB4">
          <%= f.check_box :sleep, id: 'CheckBox4', class: 'Checkbox' %>
          <label for='CheckBox4' class="LogLabel"><%= image_tag 'iconYes.png', id: 'NextYes', class: 'Rotate' %></label>
        </div>
        <div id="HiddenERB5">
          <%= f.check_box :lights, id: 'CheckBox5', class: 'Checkbox' %>
          <label for='CheckBox5' class="LogLabel"><%= image_tag 'iconYes.png', id: 'NextYes', class: 'Rotate' %></label>
        </div>
        <div id="HiddenERB6">
          <%= f.check_box :eyestrain, id: 'CheckBox6', class: 'Checkbox' %>
          <label for='CheckBox6' class="LogLabel"><%= image_tag 'iconYes.png', id: 'NextYes', class: 'Rotate' %></label>
        </div>
        <div id="HiddenERB7">
          <%= f.check_box :exercise, id: 'CheckBox7', class: 'Checkbox' %>
          <label for='CheckBox7' class="LogLabel"><%= image_tag 'iconYes.png', id: 'NextYes', class: 'Rotate' %></label>
        </div>
        <div id="HiddenERB8">
          <%= f.check_box :period, id: 'CheckBox8', class: 'Checkbox' %>
          <label for='CheckBox8' class="LogLabel"><%= image_tag 'iconYes.png', id: 'NextYes', class: 'Rotate' %></label>
        </div>
        <div id="HiddenERB9">
          <%= f.check_box :chocolate, id: 'CheckBox9', class: 'Checkbox' %>
          <label for='CheckBox9' class="LogLabel"><%= image_tag 'iconYes.png', id: 'NextYes', class: 'Rotate' %></label>
        </div>
        <div id="HiddenERB10">
          <%= f.check_box :dehydrated, id: 'CheckBox10', class: 'Checkbox' %>
          <label for='CheckBox10' class="LogLabel"><%= image_tag 'iconYes.png', id: 'NextYes', class: 'Rotate' %></label>
        </div>
        <div id="HiddenERB11">
          <%= f.check_box :medicine, id: 'CheckBox11', class: 'Checkbox' %>
          <label for='CheckBox11' class="LogLabel"><%= image_tag 'iconYes.png', id: 'NextYes', class: 'Rotate' %></label>
        </div>
        <div id="HiddenERB12">
          <%= f.check_box :Trigger1, id: 'CheckBox12', class: 'Checkbox' %>
          <label for='CheckBox12' class="LogLabel"><%= image_tag 'iconYes.png', id: 'NextYes', class: 'Rotate' %></label>
        </div>
        <div id="HiddenERB13">
          <%= f.check_box :Trigger2, id: 'CheckBox13', class: 'Checkbox' %>
          <label for='CheckBox13' class="LogLabel"><%= image_tag 'iconAddAnother.png', id: 'NextYes', class: 'Rotate' %></label>
        </div>
        <div id="HiddenERB14">
          <%= f.check_box :Trigger3, id: 'CheckBox14', class: 'Checkbox' %>
          <label for='CheckBox14' class="LogLabel"><%= image_tag 'iconAddAnother.png', id: 'NextYes', class: 'Rotate' %></label>
        </div>
        <div id="HiddenERB15">
          <%= f.check_box :Trigger4, id: 'CheckBox15', class: 'Checkbox' %>
          <label for='CheckBox15' class="LogLabel"><%= image_tag 'iconAddAnother.png', id: 'NextYes', class: 'Rotate' %></label>
        </div>
        <div id="HiddenERB16">
          <%= f.check_box :Trigger5, id: 'CheckBox16', class: 'Checkbox' %>
          <label for='CheckBox16' class="LogLabel"><%= image_tag 'iconAddAnother.png', id: 'NextYes', class: 'Rotate' %></label>
        </div>
        <!-- Original checkbox for no -->
        <div id="CheckboxNoOriginal">
          <input type="Checkbox" id="CheckBoxNo" class="Checkbox">
          <label for="CheckBoxNo" class="LogLabel"><%= image_tag 'iconNo.png', id: 'NextNo', class: 'Rotate' %></label>
        </div>
        <!-- Replacement no checkbox, used in the JS as the questions start being asked -->
        <div id="CheckboxNoReplacementCustom">
          <input type="Checkbox" id="CheckBoxNo" class="Checkbox">
          <label for="CheckBoxNo" class="LogLabel"><%= image_tag 'iconGoToEnd.png', id: 'NextNo', class: 'Rotate' %></label>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Last question -->
<div id="Finish">
  <!-- Flex div to hold the next two divs next to each other -->
  <div class="Flex">
    <!-- Left div holds the image -->
    <div class="LeftDiv"></div>
    <!-- This div holds the text and Question -->
    <div>
      <!-- Hidden field sets the userid of the headache to the current logged in user's id -->
      <%= f.hidden_field :userID, :value => current_user.id %>
      <%= f.hidden_field :boolean, :value => current_user.id %>
      <!-- Submit button and end of ERB -->
      <h1>Save and start logging!</h1>
      <%= image_submit_tag('iconFinish.png', class: 'FinishButton') %>
    <% end %>
  </div>
</div>
</div>
