
<%= form_for :logcustomizations, url: logcustomizations_path do |f| %>

<!-- Introduction div -->
<div id="startDiv" class="customDiv">
    <h3>When you have a headace, you can come here to log information about it. You will also be asked a series
        of questions about different triggers. After you've logged
        a few headaches, you will see graphs of these triggers showing how often they appeared before a headache.<br><br>
        Before we log your first headache, let's take the time to look at the list of suggested triggers and make
        sure you want to include all of them. You will also be able to add up to 10 of your own triggers.
    </h3>

<h2>Let's get started!</h2><br>
  <div id="startBtn" class="button">
    <%= image_tag 'start.png', class: 'rotate' %>
  </div>
</div>

<div id="questions" class="logDivs">
  <!-- Flex div to hold the next two divs next to each other -->
  <div class="flex">
    <!-- This div holds the text and question -->
    <div>
      <h2 id="question">Do you want to include drinking alcohol as a trigger?</h2>
      <p id="triggerTextBoxP"></p>
      <!-- Rails form connected question, required before moving on -->
      <div class="flex">
        <%= image_tag 'iconWait.png', id: 'waitIcon' %>
        <div id="checkboxDiv">
          <%= f.check_box :alcohol, id: 'checkBox1', class: 'checkbox' %>
          <label for="checkBox1"><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
        </div>
        <div id="checkboxNoOriginal">
          <input type="checkbox" id="checkBoxNo" class="checkbox">
          <label for="checkBoxNo"><%= image_tag 'iconNo.png', id: 'nextNo'%></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="checkboxNoReplacement">  <input type="checkbox" id="checkBoxNo" class="checkbox">
  <label for="checkBoxNo"><%= image_tag 'iconNo.png', id: 'nextNo'%></label>
</div>

<div id="hiddenERB2">
  <%= f.check_box :overeating, id: 'checkBox2', class: 'checkbox' %><label for='checkBox2'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB3">
  <%= f.check_box :stress, id: 'checkBox3', class: 'checkbox' %><label for='checkBox3'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB4">
  <%= f.check_box :sleep, id: 'checkBox4', class: 'checkbox' %><label for='checkBox4'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB5">
  <%= f.check_box :lights, id: 'checkBox5', class: 'checkbox' %><label for='checkBox5'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB6">
  <%= f.check_box :eye_strain, id: 'checkBox6', class: 'checkbox' %><label for='checkBox6'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB7">
  <%= f.check_box :exercise, id: 'checkBox7', class: 'checkbox' %><label for='checkBox7'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB8">
  <%= f.check_box :period, id: 'checkBox8', class: 'checkbox' %><label for='checkBox8'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB9">
  <%= f.check_box :chocolate, id: 'checkBox9', class: 'checkbox' %><label for='checkBox8'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB10">
  <%= f.check_box :dehydrated, id: 'checkBox10', class: 'checkbox' %><label for='checkBox10'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB11">
  <%= f.check_box :medicine, id: 'checkBox11', class: 'checkbox' %><label for='checkBox11'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB12">
  <%= f.check_box :trigger1, id: 'checkBox12', class: 'checkbox' %><label for='checkBox12'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB13">
  <%= f.check_box :trigger2, id: 'checkBox13', class: 'checkbox' %><label for='checkBox13'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB14">
  <%= f.check_box :trigger3, id: 'checkBox14', class: 'checkbox' %><label for='checkBox14'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB15">
  <%= f.check_box :trigger4, id: 'checkBox15', class: 'checkbox' %><label for='checkBox15'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB16">
  <%= f.check_box :trigger5, id: 'checkBox16', class: 'checkbox' %><label for='checkBox16'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB17">
  <%= f.check_box :trigger6, id: 'checkBox17', class: 'checkbox' %><label for='checkBox17'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB18">
  <%= f.check_box :trigger7, id: 'checkBox18', class: 'checkbox' %><label for='checkBox18'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB19">
  <%= f.check_box :trigger8, id: 'checkBox19', class: 'checkbox' %><label for='checkBox19'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB20">
  <%= f.check_box :trigger9, id: 'checkBox20', class: 'checkbox' %><label for='checkBox20'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>
<div id="hiddenERB21">
  <%= f.check_box :trigger10, id: 'checkBox21', class: 'checkbox' %><label for='checkBox21'><%= image_tag 'iconYes.png', id: 'nextYes' %></label>
</div>

<div id="trigger1NameText"><%= f.text_field :trigger1Name, class: 'customInput' %></div>
<div id="trigger2NameText"><%= f.text_field :trigger2Name, class: 'customInput' %></div>
<div id="trigger3NameText"><%= f.text_field :trigger3Name, class: 'customInput' %></div>
<div id="trigger4NameText"><%= f.text_field :trigger4Name, class: 'customInput' %></div>
<div id="trigger5NameText"><%= f.text_field :trigger5Name, class: 'customInput' %></div>
<div id="trigger6NameText"><%= f.text_field :trigger6Name, class: 'customInput' %></div>
<div id="trigger7NameText"><%= f.text_field :trigger7Name, class: 'customInput' %></div>
<div id="trigger8NameText"><%= f.text_field :trigger8Name, class: 'customInput' %></div>
<div id="trigger9NameText"><%= f.text_field :trigger9Name, class: 'customInput' %></div>
<div id="trigger10NameText"><%= f.text_field :trigger10Name, class: 'customInput' %></div>


<!-- Main div to hold the question -->
<div id="finish" class="logDivs">
  <!-- Flex div to hold the next two divs next to each other -->
  <div class="flex">
    <!-- Left div holds the image -->
    <div class="leftDiv">
    </div>
    <!-- This div holds the text and question -->
    <div>
      <!-- Hidden field sets the userid of the headache to the current logged in user's id -->
      <%= f.hidden_field :userid, :value => current_user.id %>
      <!-- Submit button and end of ERB -->
      <h1>Save and start logging!</h1>
      <%= image_submit_tag("iconFinish.png") %>
    <% end %>
    </div>
  </div>
  <!-- This div is under the previous two divs, holds the next image and button -->
</div>
