<h1>Edit Log</h1>

<%= form_for(@log) do |f| %>
  <%= f.label 'Date Started' %><br>
  <%= f.text_field :date_started %><br>

  <%= f.label 'Date Ended' %><br>
  <%= f.text_field :date_ended %><br>

  <% if include_period == 1 %>
    <%= f.label 'On or Near Period' %><br>
    <%= f.check_box :period %><br>
  <% end %>

  <% if include_dehydrated == 1 %>
    <%= f.label 'Dehydration' %><br>
    <%= f.check_box :dehydration %><br>
  <% end %>

  <% if include_exercise == 1 %>
    <%= f.label 'Over Exercising' %><br>
    <%= f.check_box :exercise %><br>
  <% end %>

  <% if nclude_eyestrain == 1 %>
    <%= f.label 'Eye Strain' %><br>
    <%= f.check_box :eye_strain %><br>
  <% end %>

  <% if include_lights == 1 %>
    <%= f.label 'Bright Lights' %><br>
    <%= f.check_box :lights %><br>
  <% end %>

  <% if include_sleep == 1 %>
    <%= f.label 'Lack of Sleep' %><br>
    <%= f.check_box :sleep %><br>
  <% end %>

  <% if include_stress == 1 %>
    <%= f.label 'Stress' %><br>
    <%= f.check_box :stress %><br>
  <% end %>

  <% if include_overeating == 1 %>
    <%= f.label 'Overeating' %><br>
    <%= f.check_box :overeating %><br>
  <% end %>

  <% if include_alcohol == 1 %>
    <%= f.label 'Alcohol' %><br>
    <%= f.check_box :alcohol %><br>
  <% end %>

  <% if include_chocolate == 1 %>
    <%= f.label 'Chocolate' %><br>
    <%= f.check_box :chocolate %><br>
  <% end %>

  <% if include_medicine == 1 %>
    <%= f.label 'Medicine Taken/Helped' %><br>
    <%= f.text_field :medicine %><br>
    <%= f.check_box :medicine_helped %><br>
  <% end %>

  <% if include_trigger1 == 1 %>
    <%= f.label user_trigger1 %><br>
    <%= f.check_box :custom1 %><br>
  <% end %>

  <% if include_trigger2 == 1 %>
    <%= f.label user_trigger2 %><br>
    <%= f.check_box :custom2 %><br>
  <% end %>

  <% if include_trigger3 == 1 %>
    <%= f.label user_trigger3 %><br>
    <%= f.check_box :custom3 %><br>
  <% end %>

  <% if include_trigger4 == 1 %>
    <%= f.label user_trigger4 %><br>
    <%= f.check_box :custom4 %><br>
  <% end %>

  <% if include_trigger5 == 1 %>
    <%= f.label user_trigger5 %><br>
    <%= f.check_box :custom5 %><br>
  <% end %>

  <%= f.submit "Save Log" %>
<% end %> %>
