<!-- Form for adding a new headache, connects to logs controller -->
<%= form_for :logs, url: logs_path do |f| %>

<!-- Question divs start next, they fade in and out as the user answers them, so only one shows at a time -->

<!-- Start div -->
<div id="Start" class="LogDivs">
  <div class="LeftDiv">
    <h2>Are you ready to log your headache?</h2><br>
    <div id="StartNext" class="Button"><%= image_tag 'start.png', class: 'Rotate' %></div>
  </div>
</div>

<!-- Start and end date, always shown -->
<div id="one" class="LogDivs">
  <div class="Flex">
    <div class="LeftDiv">
      <%= image_tag("iconStart.png") %>
    </div>
    <div>
      <h2>When did this headache start?</h2>
      <%= f.datetime_field :date_started, required: true, class: 'OneField', value: DateTime.now.strftime('%Y-%m-%dT%H:%M') %><br/>
    </div>
  </div>
  <div class="RightDiv">
    <div id="OneNext" class="Button"><%= image_tag 'iconNext.png', class: 'Button' %></div>
  </div>
</div>

<div id="Two" class="LogDivs">
  <div class="Flex">
    <div class="LeftDiv">
      <%= image_tag("iconStart.png") %>
    </div>
    <div>
      <h2>When did this headache end?</h2>
      <%= f.datetime_field :date_ended, required: true, class: 'TwoField', value: DateTime.now.strftime('%Y-%m-%dT%H:%M')%><br/>
    </div>
  </div>
  <div class="RightDiv">
    <div id="TwoNext" class="Button"><%= image_tag 'iconNext.png', class: 'Button' %></div>
  </div>
</div>

<!-- All triggers only show if the user has them enabled -->
<% if include_period == 1 %>
  <div id="Three" class="LogDivs">
    <h2>Were you on your period during this headache?</h2>
    <div class="Flex">
      <div>
        <%= f.check_box :period, id: 'ThreeFieldYes', class: 'Checkbox' %>
        <label class="CheckboxLabel" for="ThreeFieldYes"><%= image_tag 'iconYes.png', class: 'NextYes' %></label>
      </div>
      <div>
        <input type="Checkbox" id="ThreeFieldNo" class="Checkbox">
        <label class="CheckboxLabel" for="ThreeFieldNo"><%= image_tag 'iconNo.png', class: 'NextNo'%></label>
      </div>
    </div>
  </div>
<% end %>

<% if include_dehydrated == 1 %>
  <div id="Four" class="LogDivs">
    <h2>Were you dehydrated during this headache?</h2>
    <div class="Flex">
      <div>
        <%= f.check_box :dehydration, id: 'FourFieldYes', class: 'Checkbox' %>
        <label class="CheckboxLabel" for="FourFieldYes"><%= image_tag 'iconYes.png', class: 'NextYes' %></label>
      </div>
      <div>
        <input type="Checkbox" id="FourFieldNo" class="Checkbox">
        <label class="CheckboxLabel" for="FourFieldNo"><%= image_tag 'iconNo.png', class: 'NextNo' %></label>
      </div>
    </div>
  </div>
<% end %>

<% if include_exercise == 1 %>
  <div id="Five" class="LogDivs">
    <h2>Did you exercise the day of, or the day before, this headache?</h2>
    <div class="Flex">
      <div>
        <%= f.check_box :exercise, id: 'FiveFieldYes', class: 'Checkbox' %>
        <label class="CheckboxLabel" for="FiveFieldYes"><%= image_tag 'iconYes.png', class: 'NextYes' %></label>
      </div>
      <div>
        <input type="Checkbox" id="FiveFieldNo" class="Checkbox">
        <label class="CheckboxLabel" for="FiveFieldNo"><%= image_tag 'iconNo.png', class: 'NextNo' %></label>
      </div>
    </div>
  </div>
<% end %>

<% if include_eyestrain == 1 %>
  <div id="Six" class="LogDivs">
    <h2>Is it possible you experienced eye strain prior to this headache? (Were you using a device for more than 2 hours?)</h2>
    <div class="Flex">
      <div>
        <%= f.check_box :eye_strain, id: 'SixFieldYes', class: 'Checkbox' %>
        <label class="CheckboxLabel" for="SixFieldYes"><%= image_tag 'iconYes.png', class: 'NextYes' %></label>
      </div>
      <div>
        <input type="Checkbox" id="SixFieldNo" class="Checkbox">
        <label class="CheckboxLabel" for="SixFieldNo"><%= image_tag 'iconNo.png', class: 'NextNo' %></label>
      </div>
    </div>
  </div>
<% end %>

<% if include_lights == 1 %>
  <div id="Seven" class="LogDivs">
    <h2>Did you experience bright or fluorescent lights for more than 2 hours prior to this headache?</h2>
    <div class="Flex">
      <div>
        <%= f.check_box :lights, id: 'SevenFieldYes', class: 'Checkbox' %>
        <label class="CheckboxLabel" for="SevenFieldYes"><%= image_tag 'iconYes.png', class: 'NextYes' %></label>
      </div>
      <div>
        <input type="Checkbox" id="SevenFieldNo" class="Checkbox">
        <label class="CheckboxLabel" for="SevenFieldNo"><%= image_tag 'iconNo.png', class: 'NextNo' %></label>
      </div>
    </div>
  </div>
<% end %>

<% if include_sleep == 1 %>
  <div id="Eight" class="LogDivs">
    <h2>Did you get Seven or more hours of sleep the night before this headache?</h2>
    <div class="Flex">
      <div>
        <%= f.check_box :sleep, id: 'EightFieldYes', class: 'Checkbox' %>
        <label class="CheckboxLabel" for="EightFieldYes"><%= image_tag 'iconYes.png', class: 'NextYes' %></label>
      </div>
      <div>
        <input type="Checkbox" id="EightFieldNo" class="Checkbox">
        <label class="CheckboxLabel" for="EightFieldNo"><%= image_tag 'iconNo.png', class: 'NextNo' %></label>
      </div>
    </div>
  </div>
<% end %>

<% if include_stress == 1 %>
  <div id="Nineteen" class="LogDivs">
    <h2>Have you been under more stress than usual?</h2>
    <div class="Flex">
      <div>
        <%= f.check_box :stress, id: 'NineteenFieldYes', class: 'Checkbox' %>
        <label class="CheckboxLabel" for="NineteenFieldYes"><%= image_tag 'iconYes.png', class: 'NextYes' %></label>
      </div>
      <div>
        <input type="Checkbox" id="NineteenFieldNo" class="Checkbox">
        <label class="CheckboxLabel" for="NineteenFieldNo"><%= image_tag 'iconNo.png', class: 'NextNo' %></label>
      </div>
    </div>
  </div>
<% end %>

<% if include_overeating == 1 %>
  <div id="Ten" class="LogDivs">
    <h2>Have you been overeating the day of, or the day before, this headache?</h2>
    <div class="Flex">
      <div>
        <%= f.check_box :overeating, id: 'TenFieldYes', class: 'Checkbox' %>
        <label class="CheckboxLabel" for="TenFieldYes"><%= image_tag 'iconYes.png', class: 'NextYes' %></label>
      </div>
      <div>
        <input type="Checkbox" id="TenFieldNo" class="Checkbox">
        <label class="CheckboxLabel" for="TenFieldNo"><%= image_tag 'iconNo.png', class: 'NextNo' %></label>
      </div>
    </div>
  </div>
<% end %>

<% if include_alcohol == 1 %>
  <div id="Twelve" class="LogDivs">
    <h2>Did you consume more than one glass of alcohol the day of, or the day before, this headache?</h2>
    <div class="Flex">
      <div>
        <%= f.check_box :alcohol, id: 'TwelveFieldYes', class: 'Checkbox' %>
        <label class="CheckboxLabel" for="TwelveFieldYes"><%= image_tag 'iconYes.png', class: 'NextYes' %></label>
      </div>
      <div>
        <input type="Checkbox" id="TwelveFieldNo" class="Checkbox">
        <label class="CheckboxLabel" for="TwelveFieldNo"><%= image_tag 'iconNo.png', class: 'NextNo' %></label>
      </div>
    </div>
  </div>
<% end %>

<% if include_chocolate == 1 %>
  <div id="Thirteen" class="LogDivs">
    <h2>Did you consume more than one piece of chocolate the day of, or the day before, this headache?</h2>
    <div class="Flex">
      <div>
        <%= f.check_box :chocolate, id: 'ThirteenFieldYes', class: 'Checkbox' %>
        <label class="CheckboxLabel" for="ThirteenFieldYes"><%= image_tag 'iconYes.png', class: 'NextYes' %></label>
      </div>
      <div>
        <input type="Checkbox" id="ThirteenFieldNo" class="Checkbox">
        <label class="CheckboxLabel" for="ThirteenFieldNo"><%= image_tag 'iconNo.png', class: 'NextNo' %></label>
      </div>
    </div>
  </div>
<% end %>

<% if include_medicine == 1 %>
  <div id="Fourteen" class="LogDivs">
    <h2>Did you take medicine for this headache?</h2>
    <div class="Flex">
      <div>
        <input type="Checkbox" id="FourteenFieldYes" class="Checkbox">
        <label class="CheckboxLabel" for="FourteenFieldYes"><%= image_tag 'iconYes.png', class: 'MedYes' %></label>
      </div>
      <div>
        <input type="Checkbox" id="FourteenFieldNo" class="Checkbox">
        <label class="CheckboxLabel" for="FourteenFieldNo"><%= image_tag 'iconNo.png', class: 'MedNo' %></label>
      </div>
    </div>
  </div>
<% end %>

<% if include_medicine == 1 %>
  <div id="FourteenTwo" class="LogDivs">
    <h2>What medicine did you take?</h2>
    <div class="Flex">
      <div>
        Medicine Type:
        <%= f.text_field :medicine, id: "FourteenField" %><br>
      </div>
      <div>
        <input type="Checkbox" id="FourteenFieldYesIcon" class="Checkbox">
        <label class="CheckboxLabel" for="FourteenFieldYesIcon"><%= image_tag 'iconYes.png', class: 'NextYes' %></label>
      </div>
    </div>
  </div>
<% end %>

<% if include_trigger1 == 1 %>
  <div id="Fifteen" class="LogDivs">
    <h2>Did you experience
      <%= user_trigger1 %>
      before or during the headache?</h2>
    <div class="Flex">
      <div>
        <%= f.check_box :custom1, id: 'FifteenFieldYes', class: 'Checkbox' %>
        <label class="CheckboxLabel" for="FifteenFieldYes"><%= image_tag 'iconYes.png', class: 'NextYes' %></label>
      </div>
      <div>
        <input type="Checkbox" id="FifteenFieldNo" class="Checkbox">
        <label class="CheckboxLabel" for="FifteenFieldNo"><%= image_tag 'iconNo.png', class: 'NextNo' %></label>
      </div>
    </div>
  </div>
<% end %>

<% if include_trigger2 == 1 %>
  <div id="Sixteen" class="LogDivs">
    <h2>Did you experience
      <%= user_trigger2 %>
      before or during the headache?</h2>
    <div class="Flex">
      <div>
        <%= f.check_box :custom2, id: 'SixteenFieldYes', class: 'Checkbox' %>
        <label class="CheckboxLabel" for="SixteenFieldYes"><%= image_tag 'iconYes.png', class: 'NextYes' %></label>
      </div>
      <div>
        <input type="Checkbox" id="SixteenFieldNo" class="Checkbox">
        <label class="CheckboxLabel" for="SixteenFieldNo"><%= image_tag 'iconNo.png', class: 'NextNo' %></label>
      </div>
    </div>
  </div>
<% end %>

<% if include_trigger3 == 1 %>
  <div id="Seventeen" class="LogDivs">
    <h2>Did you experience
      <%= user_trigger3 %>
      before or during the headache?</h2>
    <div class="Flex">
      <div>
        <%= f.check_box :custom3, id: 'SeventeenFieldYes', class: 'Checkbox' %>
        <label class="CheckboxLabel" for="SeventeenFieldYes"><%= image_tag 'iconYes.png', class: 'NextYes' %></label>
      </div>
      <div>
        <input type="Checkbox" id="SeventeenFieldNo" class="Checkbox">
        <label class="CheckboxLabel" for="SeventeenFieldNo"><%= image_tag 'iconNo.png', class: 'NextNo' %></label>
      </div>
    </div>
  </div>
<% end %>

<% if include_trigger4 == 1 %>
  <div id="Eighteen" class="LogDivs">
    <h2>Did you experience
      <%= user_trigger4 %>
      before or during the headache?</h2>
    <div class="Flex">
      <div>
        <%= f.check_box :custom4, id: 'EighteenFieldYes', class: 'Checkbox' %>
        <label class="CheckboxLabel" for="EighteenFieldYes"><%= image_tag 'iconYes.png', class: 'NextYes' %></label>
      </div>
      <div>
        <input type="Checkbox" id="EighteenFieldNo" class="Checkbox">
        <label class="CheckboxLabel" for="EighteenFieldNo"><%= image_tag 'iconNo.png', class: 'NextNo' %></label>
      </div>
    </div>
  </div>
<% end %>

<% if include_trigger5 == 1 %>
  <div id="Nineteen" class="LogDivs">
    <h2>Did you experience
      <%= user_trigger5 %>
      before or during the headache?</h2>
    <div class="Flex">
      <div>
        <%= f.check_box :custom5, id: 'NineteenFieldYes', class: 'Checkbox' %>
        <label class="CheckboxLabel" for="NineteenFieldYes"><%= image_tag 'iconYes.png', class: 'NextYes' %></label>
      </div>
      <div>
        <input type="Checkbox" id="NineteenFieldNo" class="Checkbox">
        <label class="CheckboxLabel" for="NineteenFieldNo"><%= image_tag 'iconNo.png', class: 'NextNo' %></label>
      </div>
    </div>
  </div>
<% end %>

<!-- Finish div -->
<div id="Twenty" class="LogDivs">
  <div class="Flex">
    <div class="LeftDiv"></div>
    <div>
      <%= f.hidden_field :userid, :value => current_user.id %>
      <!-- Submit Button and end of ERB -->
      <h1>Save this log!</h1>
      <%= image_submit_tag('iconFinish.png', class: 'finishButton') %>
    <% end %>
  </div>
</div>
</div>
