
<!-- Form for adding a new headache, connects to logs controller -->
<%= form_for :logs, url: logs_path do |f| %>

<!-- Question divs start next, they fade in and out as the user answers them, so only one shows at a time -->

<div id="start" class="logDivs">
    <div class="leftDiv">
        <h2>Are you ready to log your headache?</h2><br>
        <div id="startNext" class="button"><%= image_tag 'start.png', class: 'rotate' %></div>
      </div>
</div>

  <div id="one" class="logDivs">
    <div class="flex">
      <div class="leftDiv">
        <%= image_tag("iconStart.png") %>
      </div>
      <div>
        <h2>When did this headache start?</h2>
        <%= f.datetime_field :date_started, required: true, class: 'oneField', value: DateTime.now.strftime('%Y-%m-%dT%H:%M') %><br/>
      </div>
    </div>
    <div class="rightDiv">
      <div id="oneNext" class="button"><%= image_tag 'iconNext.png', class: 'button' %></div>
    </div>
  </div>

  <div id="two" class="logDivs">
    <div class="flex">
      <div class="leftDiv">
        <%= image_tag("iconStart.png") %>
      </div>
      <div>
        <h2>When did this headache end?</h2>
        <%= f.datetime_field :date_ended, required: true, class: 'twoField', value: DateTime.now.strftime('%Y-%m-%dT%H:%M')%><br/>
      </div>
    </div>
    <div class="rightDiv">
      <div id="twoNext" class="button"><%= image_tag 'iconNext.png', class: 'button' %></div>
    </div>
  </div>

  <% if include_period == 1 %>
  <div id="three" class="logDivs">
    <h2>Were you on your period during this headache?</h2>
    <div class="flex">
      <div>
        <%= f.check_box :period, id: 'threeFieldYes', class: 'checkbox' %>
        <label for="threeFieldYes"><%= image_tag 'iconYes.png', class: 'nextYes' %></label>
      </div>
      <div>
        <input type="checkbox" id="threeFieldNo" class="checkbox">
        <label for="threeFieldNo"><%= image_tag 'iconNo.png', class: 'nextNo'%></label>
      </div>
    </div>
  </div>
  <% end %>

  <% if include_dehydrated == 1 %>
  <div id="four" class="logDivs">
    <h2>Were you dehydrated during this headache?</h2>
    <div class="flex">
      <div>
        <%= f.check_box :dehydration, id: 'fourFieldYes', class: 'checkbox' %>
        <label for="fourFieldYes"><%= image_tag 'iconYes.png', class: 'nextYes' %></label>
      </div>
      <div>
        <input type="checkbox" id="fourFieldNo" class="checkbox">
        <label for="fourFieldNo"><%= image_tag 'iconNo.png', class: 'nextNo' %></label>
      </div>
    </div>
  </div>
 <% end %>

  <% if include_exercise == 1 %>
  <div id="five" class="logDivs">
    <h2>Did you exercise the day of, or the day before, this headache?</h2>
    <div class="flex">
      <div>
        <%= f.check_box :exercise, id: 'fiveFieldYes', class: 'checkbox' %>
        <label for="fiveFieldYes"><%= image_tag 'iconYes.png', class: 'nextYes' %></label>
      </div>
      <div>
        <input type="checkbox" id="fiveFieldNo" class="checkbox">
        <label for="fiveFieldNo"><%= image_tag 'iconNo.png', class: 'nextNo' %></label>
      </div>
    </div>
  </div>
  <% end %>

  <% if include_eyestrain == 1 %>
  <div id="six" class="logDivs">
    <h2>Is it possible you experienced eye strain prior to this headache? (Were you using a device for more than 2 hours?)</h2>
    <div class="flex">
      <div>
        <%= f.check_box :eye_strain, id: 'sixFieldYes', class: 'checkbox' %>
        <label for="sixFieldYes"><%= image_tag 'iconYes.png', class: 'nextYes' %></label>
      </div>
      <div>
        <input type="checkbox" id="sixFieldNo" class="checkbox">
        <label for="sixFieldNo"><%= image_tag 'iconNo.png', class: 'nextNo' %></label>
      </div>
    </div>
  </div>
  <% end %>

  <% if include_lights == 1 %>
  <div id="seven" class="logDivs">
    <h2>Did you experience bright or fluorescent lights for more than 2 hours prior to this headache?</h2>
    <div class="flex">
      <div>
        <%= f.check_box :lights, id: 'sevenFieldYes', class: 'checkbox' %>
        <label for="sevenFieldYes"><%= image_tag 'iconYes.png', class: 'nextYes' %></label>
      </div>
      <div>
        <input type="checkbox" id="sevenFieldNo" class="checkbox">
        <label for="sevenFieldNo"><%= image_tag 'iconNo.png', class: 'nextNo' %></label>
      </div>
    </div>
  </div>
  <% end %>

  <% if include_sleep == 1 %>
  <div id="eight" class="logDivs">
    <h2>Did you get seven or more hours of sleep the night before this headache?</h2>
    <div class="flex">
      <div>
        <%= f.check_box :sleep, id: 'eightFieldYes', class: 'checkbox' %>
        <label for="eightFieldYes"><%= image_tag 'iconYes.png', class: 'nextYes' %></label>
      </div>
      <div>
        <input type="checkbox" id="eightFieldNo" class="checkbox">
        <label for="eightFieldNo"><%= image_tag 'iconNo.png', class: 'nextNo' %></label>
      </div>
    </div>
  </div>
  <% end %>

  <% if include_stress == 1 %>
  <div id="nine" class="logDivs">
    <h2>Have you been under more stress than usual?</h2>
    <div class="flex">
      <div>
        <%= f.check_box :stress, id: 'nineFieldYes', class: 'checkbox' %>
        <label for="nineFieldYes"><%= image_tag 'iconYes.png', class: 'nextYes' %></label>
      </div>
      <div>
        <input type="checkbox" id="nineFieldNo" class="checkbox">
        <label for="nineFieldNo"><%= image_tag 'iconNo.png', class: 'nextNo' %></label>
      </div>
    </div>
  </div>
  <% end %>

  <% if include_overeating == 1 %>
  <div id="ten" class="logDivs">
    <h2>Have you been overeating the day of, or the day before, this headache?</h2>
    <div class="flex">
      <div>
        <%= f.check_box :overeating, id: 'tenFieldYes', class: 'checkbox' %>
        <label for="tenFieldYes"><%= image_tag 'iconYes.png', class: 'nextYes' %></label>
      </div>
      <div>
        <input type="checkbox" id="tenFieldNo" class="checkbox">
        <label for="tenFieldNo"><%= image_tag 'iconNo.png', class: 'nextNo' %></label>
      </div>
    </div>
  </div>
  <% end %>

  <% if include_alcohol == 1 %>
  <div id="twelve" class="logDivs">
    <h2>Did you consume more than one glass of alcohol the day of, or the day before, this headache?</h2>
    <div class="flex">
      <div>
        <%= f.check_box :alcohol, id: 'twelveFieldYes', class: 'checkbox' %>
        <label for="twelveFieldYes"><%= image_tag 'iconYes.png', class: 'nextYes' %></label>
      </div>
      <div>
        <input type="checkbox" id="twelveFieldNo" class="checkbox">
        <label for="twelveFieldNo"><%= image_tag 'iconNo.png', class: 'nextNo' %></label>
      </div>
    </div>
  </div>
  <% end %>

  <% if include_chocolate == 1 %>
  <div id="thirteen" class="logDivs">
    <h2>Did you consume more than one piece of chocolate the day of, or the day before, this headache?</h2>
    <div class="flex">
      <div>
        <%= f.check_box :chocolate, id: 'thirteenFieldYes', class: 'checkbox' %>
        <label for="thirteenFieldYes"><%= image_tag 'iconYes.png', class: 'nextYes' %></label>
      </div>
      <div>
        <input type="checkbox" id="thirteenFieldNo" class="checkbox">
        <label for="thirteenFieldNo"><%= image_tag 'iconNo.png', class: 'nextNo' %></label>
      </div>
    </div>
  </div>
  <% end %>

  <% if include_medicine == 1 %>
  <div id="fourteen" class="logDivs">
    <h2>Did you take medicine for this headache?</h2>
    <div class="flex">
      <div class="toHide">
        <input type="checkbox" id="fourteenFieldYesIcon" class="checkbox">
        <label for="fourteenFieldYesIcon"><%= image_tag 'iconYes.png', class: 'medYes' %></label>
      </div>
      <div>
        <input type="checkbox" id="fourteenFieldNo" class="checkbox">
        <label for="fourteenFieldNo"><%= image_tag 'iconNo.png', class: 'medNo' %></label>
      </div>
    </div>
  </div>
  <% end %>

  <% if include_medicine == 1 %>
  <div id="fourteenTwo" class="logDivs">
    <h2>What medicine did you take?</h2>
    <div class="textBox">
      Medicine Type: <%= f.text_field :medicine, id: "fourteenField" %><br>
    </div>
    <div class="flex">
        <input type="checkbox" id="fourteenFieldYesIcon" class="checkbox">
        <label for="fourteenFieldYesIcon"><%= image_tag 'iconYes.png', class: 'nextYes' %></label>
    </div>
  </div>
  <% end %>

  <% if include_trigger1 == 1 %>
    <div id="fifteen" class="logDivs">
      <h2><%= user_trigger1 %></h2>
      <div class="flex">
        <div>
          <%= f.check_box :custom1, id: 'fifteenFieldYes', class: 'checkbox' %>
          <label for="fifteenFieldYes"><%= image_tag 'iconYes.png', class: 'nextYes' %></label>
        </div>
        <div>
          <input type="checkbox" id="fifteenFieldNo" class="checkbox">
          <label for="fifteenFieldNo"><%= image_tag 'iconNo.png', class: 'nextNo' %></label>
        </div>
      </div>
    </div>
  <% end %>

  <% if include_trigger2 == 1 %>
    <div id="sixteen" class="logDivs">
      <h2><%= user_trigger2 %></h2>
      <div class="flex">
        <div>
          <%= f.check_box :custom2, id: 'sixteenFieldYes', class: 'checkbox' %>
          <label for="sixteenFieldYes"><%= image_tag 'iconYes.png', class: 'nextYes' %></label>
        </div>
        <div>
          <input type="checkbox" id="sixteenFieldNo" class="checkbox">
          <label for="sixteenFieldNo"><%= image_tag 'iconNo.png', class: 'nextNo' %></label>
        </div>
      </div>
    </div>
  <% end %>

  <% if include_trigger3 == 1 %>
    <div id="seventeen" class="logDivs">
      <h2><%= user_trigger3 %></h2>
      <div class="flex">
        <div>
          <%= f.check_box :custom3, id: 'seventeenFieldYes', class: 'checkbox' %>
          <label for="seventeenFieldYes"><%= image_tag 'iconYes.png', class: 'nextYes' %></label>
        </div>
        <div>
          <input type="checkbox" id="seventeenFieldNo" class="checkbox">
          <label for="seventeenFieldNo"><%= image_tag 'iconNo.png', class: 'nextNo' %></label>
        </div>
      </div>
    </div>
  <% end %>

  <% if include_trigger4 == 1 %>
    <div id="eighteen" class="logDivs">
      <h2><%= user_trigger4 %></h2>
      <div class="flex">
        <div>
          <%= f.check_box :custom4, id: 'eighteenFieldYes', class: 'checkbox' %>
          <label for="eighteenFieldYes"><%= image_tag 'iconYes.png', class: 'nextYes' %></label>
        </div>
        <div>
          <input type="checkbox" id="eighteenFieldNo" class="checkbox">
          <label for="eighteenFieldNo"><%= image_tag 'iconNo.png', class: 'nextNo' %></label>
        </div>
      </div>
    </div>
  <% end %>

  <% if include_trigger5 == 1 %>
    <div id="nineteen" class="logDivs">
      <h2><%= user_trigger5 %></h2>
      <div class="flex">
        <div>
          <%= f.check_box :custom5, id: 'nineteenFieldYes', class: 'checkbox' %>
          <label for="nineteenFieldYes"><%= image_tag 'iconYes.png', class: 'nextYes' %></label>
        </div>
        <div>
          <input type="checkbox" id="nineteenFieldNo" class="checkbox">
          <label for="nineteenFieldNo"><%= image_tag 'iconNo.png', class: 'nextNo' %></label>
        </div>
      </div>
    </div>
  <% end %>

  <div id="twenty" class="logDivs">
    <div class="flex">
      <div class="leftDiv">
      </div>
      <div>
        <%= f.hidden_field :userid, :value => current_user.id %>
        <!-- Submit button and end of ERB -->
        <h1>Save this log!</h1>
        <%= image_submit_tag('iconFinish.png', class: 'finishButton') %>
        <% end %>
      </div>
    </div>
  </div>
