<!-- Heading and intro -->
<h1>Log a Headache</h1>
<p>Sorry to hear you aren't feeling well! Fill out the optons below to log your headache.</p>

<!-- Form for adding a new headache, connects to logs controller -->
<%= form_for :logs, url: logs_path do |f| %>
  Date Started:<br><%= f.datetime_field :date_started, required: true %> <br/>
  Date Ended:<br><%= f.datetime_field :date_ended, required: true %> <br/>
  Period:<%= f.check_box :period %> <br />
  Dehydration:<%= f.check_box :dehydration %> <br />
  Exercise:<%= f.check_box :exercise %> <br />
  Eye Strain:<%= f.check_box :eye_strain %> <br />
  Lights:<%= f.check_box :lights %> <br />
  Sleep:<%= f.check_box :sleep %> <br />
  Stress:<%= f.check_box :stress %> <br />
  Overeating:<%= f.check_box :overeating %> <br />
  Weather:<%= f.check_box :weather %> <br />
  Alcohol:<%= f.check_box :alcohol %> <br />
  Chocolate:<%= f.check_box :chocolate %> <br />
  Medicine:<%= f.text_field :medicine %> <br />
  Medicine Helped:<%= f.check_box :medicine_helped %> <br />

  <!-- Hidden field sets the userid of the headache to the current logged in user's id -->
  <%= f.hidden_field :userid, :value => current_user.id %>
  <!-- Submit button and end of ERB -->
  <%= f.submit %>
<% end %>
