<div>
  <h2>Edit Logs</h2>
</div>

<!-- This table is hidden unless the user chooses to look at it in the more menu -->
<table class="graphTable">
  <tr>
    <th>Headache Started</th>
    <th>Headache Ended</th>

    <% if include_period == 1 %>
      <th>On or Near Period</th>
    <% end %>

    <% if include_dehydrated == 1 %>
      <th>Dehydrated</th>
    <% end %>

    <% if include_exercise == 1 %>
      <th>Over Exercising?</th>
    <% end %>

    <% if include_eyestrain == 1 %>
      <th>Eye Strain</th>
    <% end %>

    <% if include_lights == 1 %>
      <th>Bright Lights</th>
    <% end %>

    <% if include_sleep == 1 %>
      <th>Lack of Sleep</th>
    <% end %>

    <% if include_stress == 1 %>
      <th>Stress</th>
    <% end %>

    <% if include_overeating == 1 %>
      <th>Overeating</th>
    <% end %>

    <% if include_alcohol == 1 %>
      <th>Alcohol</th>
    <% end %>

    <% if include_chocolate == 1 %>
      <th>Chocolate</th>
    <% end %>

    <% if include_medicine == 1 %>
      <th>Took Medicine</th>
    <% end %>

    <% if include_medicine == 1 %>
      <th>Medicine Helped</th>
    <% end %>

    <% if include_trigger1 == 1 %>
      <th><%= user_trigger1 %></th>
    <% end %>

    <% if include_trigger2 == 1 %>
      <th><%= user_trigger2 %></th>
    <% end %>

    <% if include_trigger3 == 1 %>
      <th><%= user_trigger3 %></th>
    <% end %>

    <% if include_trigger4 == 1 %>
      <th><%= user_trigger4 %></th>
    <% end %>

    <% if include_trigger5 == 1 %>
      <th><%= user_trigger5 %></th>
    <% end %>

    <th>Edit</th>
    <th>Delete</th>

  </tr>
  <tr>
    <% @Logs = Logs.all %>
    <% @Logs.each do |log| %>
    <% if log[:userid] == current_user.id %>
    <td><%= log.date_started.strftime("%m/%d/%Y") %><br><%= log.date_started.strftime("%I:%M %p") %></td>
    <td><%= log.date_ended.strftime("%m/%d/%Y") %><br><%= log.date_ended.strftime("%I:%M %p") %></td>

    <% if include_period == 1 %>
      <td>
        <% if log.period == true %>
          <%= image_tag("yes.png") %>
        <% else %>
          <%= image_tag("no.png") %>
        <% end %>
      </td>
    <% end %>

    <% if include_dehydrated == 1 %>
    <td>
      <% if log.dehydration == true %>
        <%= image_tag("yes.png") %>
      <% else %>
        <%= image_tag("no.png") %>
      <% end %>
    </td>
    <% end %>

    <% if include_exercise == 1 %>
      <td>
        <% if log.exercise == true %>
          <%= image_tag("yes.png") %>
        <% else %>
          <%= image_tag("no.png") %>
        <% end %>
      </td>
    <% end %>

    <% if include_eyestrain == 1 %>
      <td>
        <% if log.eye_strain == true %>
          <%= image_tag("yes.png") %>
        <% else %>
          <%= image_tag("no.png") %>
        <% end %>
      </td>
    <% end %>

    <% if include_lights == 1 %>
      <td>
        <% if log.lights == true %>
          <%= image_tag("yes.png") %>
        <% else %>
          <%= image_tag("no.png") %>
        <% end %>
      </td>
    <% end %>

    <% if include_sleep == 1 %>
      <td>
        <% if log.sleep == true %>
          <%= image_tag("yes.png") %>
        <% else %>
          <%= image_tag("no.png") %>
        <% end %>
      </td>
    <% end %>

    <% if include_stress == 1 %>
      <td>
        <% if log.stress == true %>
          <%= image_tag("yes.png") %>
        <% else %>
          <%= image_tag("no.png") %>
        <% end %>
      </td>
    <% end %>

    <% if include_overeating == 1 %>
      <td>
        <% if log.overeating == true %>
          <%= image_tag("yes.png") %>
        <% else %>
          <%= image_tag("no.png") %>
        <% end %>
      </td>
    <% end %>

    <% if include_alcohol == 1 %>
      <td>
        <% if log.alcohol == true %>
          <%= image_tag("yes.png") %>
        <% else %>
          <%= image_tag("no.png") %>
        <% end %>
      </td>
    <% end %>

    <% if include_chocolate == 1 %>
      <td>
        <% if log.chocolate == true %>
          <%= image_tag("yes.png") %>
        <% else %>
          <%= image_tag("no.png") %>
        <% end %>
      </td>
    <% end %>

    <% if include_medicine == 1 %>
      <td><%= log.medicine %></td>
      <td>
        <% if log.medicine_helped == true %>
          <%= image_tag("yes.png") %>
        <% else %>
          <%= image_tag("no.png") %>
        <% end %>
      </td>
    <% end %>

    <% if include_trigger1 == 1 %>
      <td>
        <% if log.custom1 == true %>
          <%= image_tag("yes.png") %>
        <% else %>
          <%= image_tag("no.png") %>
        <% end %>
      </td>
    <% end %>

    <% if include_trigger2 == 1 %>
      <td>
        <% if log.custom2 == true %>
          <%= image_tag("yes.png") %>
        <% else %>
          <%= image_tag("no.png") %>
        <% end %>
      </td>
    <% end %>

    <% if include_trigger3 == 1 %>
      <td>
        <% if log.custom3 == true %>
          <%= image_tag("yes.png") %>
        <% else %>
          <%= image_tag("no.png") %>
        <% end %>
      </td>
    <% end %>

    <% if include_trigger4 == 1 %>
      <td>
        <% if log.custom4 == true %>
          <%= image_tag("yes.png") %>
        <% else %>
          <%= image_tag("no.png") %>
        <% end %>
      </td>
    <% end %>

    <% if include_trigger5 == 1 %>
      <td>
        <% if log.custom5 == true %>
          <%= image_tag("yes.png") %>
        <% else %>
          <%= image_tag("no.png") %>
        <% end %>
      </td>
    <% end %>

    <td>
      <%= link_to 'Edit Log', edit_log_path(log), class: 'tableBtns' %>
    </td>
    <td>
      <%= button_to 'Delete Log', log, method: :delete, :onclick => "return confirm('Are you sure you want to delete this log?')", class: 'tableBtns' %>


    </td>

    </tr>
    <% end %>
    <% end %>

</table>
