<!DOCTYPE html>
<html>
  <head>
    <title>Headache Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
   <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  </head>

<!-- Top navigation bar begins -->
<div class="navbar">
  <div class="left-links">
  <% if current_user %>
  Welcome to Headache Tracker, <%= current_user.username %>!
  <% else %>
  Welcome to Headache Tracker!
<% end %>
</div>
<div class="right-links">
<!-- Right side links depend on if the user is logged in; if they are, they will see their account or log out, otherwise they will see signup or login -->
<% if current_user %>
<a class="links" href="/welcome/index">Home</a>
<a class="links" href="/logs/index">Log</a>
<a class="links" href="/graphs/index">Graphs</a>
<a class="links" href="/users/edit">Account</a>
<%= link_to 'Log Out', logout_path, class: 'links' %>
<% else %>
    <%= link_to 'Sign Up', signup_path, class: 'links' %>
    <%= link_to 'Log In', login_path, class: 'links' %>
<% end %>
</div>
</div>


  <body>

    <!-- Styled div for main content -->
    <div class="content">
        <%= yield %>
    </div>

  </body>
</html>
